{%extends 'track/Base.html'%}
{%block mytitle%}
Trainee after template inhr.
{%endblock%}
{%block content%}
<h1>Trainee</h1>
 <a href="{%url 'trainee.add' %}">New</a>
 <a href="{%url 'trainee.addForm' %}">trainee.addForm</a>
 <a href="{%url 'trainee.addFormModel' %}">trainee.addFormModel</a>

<table class="table table-strpid" border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>email</td>
        <td>Track</td>
        <td>actions</td>
    </tr>
    {%for trainee in trainess%}
     <tr>
        <td>{{trainee.id}}</td>
        <td>{{trainee.name}}</td>
        <td>{{trainee.email}}</td>
        <td>{{trainee.track}}</td>
        <td>
            <a href="{%url 'trainee.details' trainee.id%}">details</a>
            <a href="{%url 'trainee.update' trainee.id%}">Update</a>
            <a href="{%url 'trainee.Delete' trainee.id%}">Delete</a>


        </td>
    </tr>
    {%endfor%}

</table>
{%endblock%}