{%extends 'track/Base.html'%}
{%block mytitle%}
Trainee details
{%endblock%}
{%block content%}
<h1>Trainee Data</h1>
<table>
    <tr>
        <td>ID</td>
        <td>{{trainee.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{trainee.name}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{trainee.email}}</td>
    </tr>
    <tr>
        <td colspan="2">
            <img src="{{trainee.get_trainee_img}}" width="50">
        </td>
    </tr>

</table>


</table>
{%endblock%}