{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracks List</title>
    <link rel="stylesheet" src="{% static 'css/style.css' %}"/>

</head>

<div class="container">
<h1>Tracks List</h1>

<table class="table table-striped"  border="1">

    <tr>
        <td>id</td>
        <td>name</td>
        <td>image</td>
        <td>Actions</td>
    </tr>
    {%for track in tracks%}
        <tr>
            <td>{{track.id}}</td>
            <td>{{track.Name}}</td>
            <td>

                <img src="{%static 'images/'|add:track.path %}" width="5%"/>

            </td>
            <td>
                <a href="/Tracks/{{track.id}}">show details</a>
                <a href="{% url 'track.details' track.id%}">show details</a>
            </td>
        </tr>

    {%endfor%}
</table>
</div>


</html>